<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Quyen VV</title>
</head>
<body>
    <h2>Hello Quyen VV with view engine</h2>
    <img src="images/cat-face.png"/>
    <h1>Message: <%= message %></h1>
</body>
</html>